<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id='app'></div>
</body>
<script>
    const { createApp, ref, computed } = Vue
    const App = {
        template: `
        <div>
            <input type="text" v-model="search" />
            <p>search term - {{ search }}</p>
            <div v-for="name in matchNames" :key="name">{{ name }}</div>
        </div>
            `,
        setup() {
            const search = ref("");
            const names = [
                "mario",
                "luigi",
                "yoshi",
                "toad",
                "bowser",
                "koopa",
                "peach",
            ];

            const matchNames = computed(() => {
                return names.filter((name) => name.includes(search.value));
            });
            return { search, matchNames };
        }
    }
    createApp(App).mount('#app')
</script>

</html>